body {
    text-align: center;
    background-color: white;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/uvwwIgO/rain-drop-with-street-colorful-traffic-lights-at-night-blur-bokeh-abstract-background-vintage-color-tone-cool-chill-wet-raining-season-concept_4wrtrqkqe__F0000.png);
    background-size: cover;
}

.container {
    background-color: beige;
    opacity: .75;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15%;
}

h1, h2, h3, p {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 50px;
    color: rgb(22, 89, 167);
    font-style: bold;
}

p {
    font-size: 14px;
    line-height: 0px;
    margin-top: 40px;
    font-style: bold;
}

#year {
    padding-top: 20px;
}

#unemployment {
    padding-bottom: 20px;
}

/* button {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(86, 142, 206);
    color: beige;
    border-width: 1px;
    opacity: .75;
} */

/* .hidden {
    visibility: hidden;
} */